header
    color: #c4c4c4;
.logo
    height: 145px;
    margin-top: 20px;
.nav-menu
    li
        text-align: center;
    a
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
.tools
    margin-top: 35px;
    margin-bottom: 55px;
    text-align: right;
    a
        margin-right: 30px;
