header
    color: #c4c4c4;
.logo
    height: 145px;
    margin-top: 20px;
.nav-menu
    li
        text-align: center;
        position: relative;
    a
        color: #fff;
        text-transform: uppercase;
        font-weight: 700;
        text-align: center;
        &:hover
            border-bottom: 2px solid #fff;
        + ul
            position: absolute;
            display: none;
            z-index: 999;
            top: 23px;
            left: 0;
            padding: 0;
            padding-bottom: 7px;
            background-color: #fff;
            &:hover
                display: block;
            li
                display: block;
                position: relative;
                width: 100%;
                padding: 5px;
                display: block;
                min-width: 170px;
                &:last-child
                    margin-bottom: 0;
                a
                    font-size: 12px;
                    color: dark;
                    border-bottom: 1px solid #fff;
                    &:hover
                        border-bottom: 1px solid dark;
                &:hover
                    > ul
                        display: block;
                > ul
                    display: none;
                    position: absolute;
                    left: 100%;
                    top: 0;
                &.parent
                    vertical-align: middle;
                    &::after
                        position: absolute;
                        top: 18%;
                        right: 3px;
                        content: '+';
                        display: inline-block;
                        height: 100%;
                        width: 12px;
                        vertical-align: middle;
        &:hover
            + ul
                display: block;
.tools
    margin-top: 35px;
    margin-bottom: 55px;
    padding-left: 5%;
    > a
        margin-right: 30px;
    .btn.btn-default-2
        margin-right: 0;
