.wrp-header-lk
    background-image: url('../img/bg_lk.jpg');
    background-repeat: no-repeat;
    background-color: #4087cd;
    background-position: top center;
    background-size: cover;
    height: 300px;
.lk
    color: greyC2;
    padding: 40px 0 50px;
    margin-bottom: 100px;
    position: relative;
    color: dark;
    .title
        font-size: 16px;
        color: dark;
    .col-md-6, .col-md-12
        p
            font-size: 14px;
            strong, span, a
                width: 30%;
                display: inline-block;
            span
                font-weight: 700;
                color: greyC3;
        a
            font-weight: 700;
    table
        font-size: 13px;
        color: dark;
        thead
            background-color: sin;
    .form-inline
        width: 600px;
        margin: 0 auto;
        text-align: center;
        .form-control
            width: 100%;
            border-radius: 0;
            margin-bottom: 15px;
        p
            margin-bottom: 5px;
            a
                display: inline;
        > p
            margin-bottom: 60px;
        .help-block
            height: 25px;
        .checkbox
            padding: 5px 15px;
            width: 100%;
            text-align: left;
            margin-bottom: 35px;
            font-size: 15px;
            a
                font-weight: 300;
                text-decoration: underline;
.lk-row
    margin: 20px 0;
    padding: 0;
.radio, .checkbox
    margin-bottom: 15px;
