.wrp-services
    background-color: blueD;
    height: 700px;
    overflow: hidden;
    .container
        position: relative;
        height: inherit;
        i
            position: absolute;
            &.icon-bouble-bottom
                top: -5px;
                left: 375px;
            &.icon-bouble-top
                bottom: 0;
                left: 378px;
.services
    padding-top: 10px;
    position: relative;
    .titleh2
        font-size: 50px;
        line-height: 60px;
        color: #fff !important;
        span
            display: block;
            font-weight: bold;
    p
        font-size: 15px;
    .col-md-4
        padding-right: 90px;
        p
            color: blueL;
            max-height: 125px;
            overflow: hidden;
    .col-md-8
        padding-top: 120px;
        padding-left: 120px;
.elems
    list-style: none;
    padding: 0;
    margin: 30px 0 0;
    li
        margin-bottom: 30px;
        a
            position: relative;
            color: #fff;
            font-size: 36px;
            font-weight: 700;
            &:hover, &:focus, &:visited
                text-decoration: none;
        &.active
            a
                color: yellowBG;
                &::after
                    content: '';
                    display: inline-block;
                    background-image: url('../img/sprite.png');
                    background-repeat: no-repeat;
                    width: 23px;
                    height: 14px;
                    background-position: -105px -451px;
                    position: relative;
                    top: -3px;
                    left: 15px;
.pilles
    div
        position: relative;
        height: 70px;
        display: block;
        margin-bottom: 0px;
        background-color: yellowBG;
        width: 750px;
        &:nth-child(1)
            transform: rotate(90deg);
            transform-origin: 0 0;
            margin-top: 130px;
            margin-left: 75px;
        &:nth-child(2)
            transform: rotate(90deg);
            transform-origin: 100px 25px;
            margin-left: 105px;
            margin-top: 30px;
        &:nth-child(3)
            margin-left: 235px;
            margin-top: -18px;
            transform: translateX(150px);
            transform: rotate(90deg);
            transform-origin: 150px 0px;
        &:nth-child(4)
            margin-top: -15px;
            transform: translateX(300px);
            transform: rotate(90deg);
            transform-origin: 223px 0;
            margin-left: 300px;
            margin-top: 95px;
        &:nth-child(5)
            transform: translateX(375px);
            transform: rotate(90deg);
            transform-origin: 295px 0;
            margin-left: 365px;
            margin-top: -85px;
        p
            font-size: 20px;
            font-weight: 700;
            line-height: 70px;
            padding-left: 75px;
        i
            position: relative;
            left: -70px;
            top: 5px;
            transform: rotate(-90deg);
