yellowBG = #eeba00;
blueBG = #60bee6;
blueBG2 = #1176de;
orangeBG = #eda212;
lYellow = #ffe466;
blueD = #1c282e;
blueL = #5b8da6;
blueSL = #0893db;
sin = #e5f2f8;
dark = #1c282e;
greyC = #9c9c9c;
greyC3 = #7d8c9c;
