@media (max-width: 568px)
    .container
        width: 500px;
    .types
        .col-sm-6
            img
                position: relative;
                left: -40%;
    .services
        > div
            display: inline-block;
        .col-md-4
            width: 40%;
            padding-right: 0;
            float: left;
        .col-md-8
            width: 59%;
            img
                max-width: 100%;
    .wrp-services
        .container
            i.icon-bouble-top
                left: 40%;
            i.icon-bouble-bottom
                left: 40%;
    .elems
        li
            a
                font-size: 28px;
            &.active
                a
                    &::after
                        left: 8px;
    .titleh2
        font-size: 36px !important;
    .avia, .jd
        .d-item
            > div
                margin-right: 60px;
                &::after
                    width: 25px;
                    right: -45px;
                &::before
                    right: -55px;
                span
                    &::before
                        left: 80px;
                    &::after
                        right: 3px;
    .wrp-reviews
        .review
            .img-circle
                width: 230px;
                height: 230px;
        .reviews
            > div
                a
                    top: 40px;
@media (max-width: 500px)
    .container
        width: 440px;
    .types
        > div
            width: 90%;
            margin-left: 5%;
    .delivery
        a
            right: -15px;
            top: 35px;
    .wrp-reviews
        .review
            .img-circle
                width: 200px;
                height: 200px;
                border-radius: 0;
@media (max-width: 440px)
    .container
        width: 380px;
    .title
        font-size: 24px;
        line-height: 24px;
    .titleh2
        font-size: 22px !important;
    .types
        > div
            > div
                .content
                    max-height: 130px;
    .wrp-services
        .container
            i.icon-bouble-top
                left: 38%;
            i.icon-bouble-bottom
                left: 38%;
    .elems
        li
            a
                font-size: 20px;
            &.active
                a
                    &::after
                        left: 2px;
                        top: 1px;
    .wrp-reviews
        .titleh2
            font-size: 26px !important;
        .review
            .img-circle
                width: 180px;
                height: 180px;
                border-radius: 0;
                img
                    width: 100%;
                    height: auto;
        .reviews
            > div
                a
                    top: 95px;
                    right: 10px;
            .col-sm-3
                width: 52%;
            .col-sm-7
                width: 45%;
@media (max-width: 380px)
    .container
        width: 310px;
    .types
        .col-sm-6
            img
                left: -60%;
    .elems
        li
            &.active
                a
                    &::after
                        display: none;
    .delivery
        a
            top: 5px;
    .wrp-reviews
        .titleh2
            line-height: 40px;
            margin-top: 50px;
            font-size: 26px !important;
        .review
            .img-circle
                display: none;
            .text
                max-height: 260px;
        .reviews
            > div
                a
                    top: 5px;
                    right: 5px;
            .col-sm-3
                display: none;
            .col-sm-7
                width: 95%;
        .slick-reviews
            .slick-arrow
                &.slick-prev
                    left: 10%;
