@media (max-width: 950px)
    .container
        width: 768px;
    // .hidden-desctop
    //     display: block;
    .navbar
        margin-top: 10px;
    [role="navigation"]
        > div
            padding: 0 15px;
    .types
        > div
            width: 48.5%;
            margin-top: 25px;
            &:nth-child(2n+1)
                margin-right: 3%;
    .services
        .col-md-8
            padding-left: 7%;
    .avia, .jd
        .d-item
            > div
                margin-right: 50px;
                &::after
                    width: 25px;
                    right: -35px;
                &::before
                    right: -45px;
    .wrp-reviews
        .titleh2
            width: 75%;
            font-size: 38px !important;
    .reviews
        .col-sm-3
            width: 39%;
        .col-sm-7
            width: 60%;
    .wrp-reviews
        .slick-reviews
            .slick-arrow
                top: 105%;
                &.slick-prev
                    left: 38%;
                &.slick-next
                    right: 15%;
    footer
        height: 250px;
        .col-sm-3
            width: 50%;
            &:nth-child(3)
                p
                    text-align: left;
                    font-size: 16px;
@media (max-width: 767px)
    .container
        width: 700px;
    .hidden-mobile-xl
        display: none;
    .navbar
        margin-top: 20px;
    .navbar-toggle
        margin-right: 25px;
    .navbar-nav
        margin: 0;
    .navbar-default
        .navbar-collapse
            max-height: 300px;
    .types
        > div
            width: 80%;
            margin-left: 10%;
            > div
                padding-right: 0;
    .services
        > div
            display: inline-block;
        .col-md-4
            width: 50%;
            padding-right: 0;
            float: left;
        .col-md-8
            width: 48%;
            img
                max-width: 100%;
    .wrp-services
        .container
            i.icon-bouble-top
                left: 343px;
            i.icon-bouble-bottom
                left: 340px;
    .avia, .jd
        .d-item
            > div
                margin-right: 35px;
                &::after
                    width: 10px;
                    right: -20px;
                &::before
                    right: -30px;
                span
                    &::before
                        left: 80px;
                    &::after
                        right: 23px;
    .wrp-reviews
        .review
            margin-top: 30px;
        .reviews
            > div
                a
                    top: 95px;
            .col-sm-7, .col-sm-3
                display: inline-block;
                width: 49%;
    footer
        .col-sm-3
            float: left;
@media (max-width: 700px)
    .container
        width: 600px;
    .services
        .col-md-4
            width: 40%;
        .col-md-8
            width: 60%;
    .logo
        width: 45%;
    .tools
        width: 25%;
    .wrp-services
        .container
            i.icon-bouble-top
                left: 243px;
            i.icon-bouble-bottom
                left: 240px;
    .avia, .jd
        .d-item
            > div
                margin-right: 35px;
                height: 80px;
                width: 80px;
                &::after
                    width: 10px;
                    right: -20px;
                    bottom: 38px;
                &::before
                    right: -30px;
                    bottom: 34px;
                span
                    &::before
                        left: 70px;
                    &::after
                        right: 15px;
                img
                    height: 90px;
                    width: 90px;
                > div.item-content
                    p.title
                        white-space: nowrap;
    .container-img
        left: -7px;
    .f-paravoz-img
        left: -3px;
    .ycik-img
        left: -6px;
    .cremle-img
        left: -5px;
    .f-avia-img
        left: -6px;
    .flag
        top: 56px;
        left: 0;
@media (max-width: 600px)
    .container
        width: 568px;
