.delivery
    color: dark;
    position: relative;
    padding-bottom: 60px;
    h2
        display: inline-block;
        font-size: 50px;
        line-height: 60px;
        width: 15%;
        margin-bottom: 20px;
    a
        position: absolute;
        top: 50px;
        right: 7px;
        z-index: 99;
    .btn-default-3
        background-color: blueBG;
        &:hover
            background-color: yellowBG;
            color: #fff;
.jd, .avia
    p.sroki
        display: inline-block;
        width: auto;
        color: #fff;
        font-weight: 700;
        padding: 10px;
        cursor: default;
    .d-item
        margin-top: 50px;
        height: 160px;
        > div
            margin-right: 145px;
            display: inline-block;
            height: 100px;
            width: 100px;
            border-radius: 50%;
            position: relative;
            float: left;
            span
                &::after
                    content: attr(data-day);
                    display: block;
                    background-color: dark;
                    height: 30px;
                    width: 30px;
                    border-radius: 50%;
                    position: absolute;
                    top: -5px;
                    right: 0px;
                    line-height: 30px;
                    color: #fff;
                    text-align: center;
                    font-size: 14px;
                    font-weight: 700;
                &::before
                    content: " " attr(data-count);
                    display: block;
                    position: absolute;
                    top: 0px;
                    left: 105px;
                    color: dark;
                    text-align: center;
                    font-size: 14px;
                    font-style: italic;
            &:last-child
                margin-right: 0;
                &::after, &::before
                    display: none;
            &::after
                content: '';
                display: block;
                position: absolute;
                height: 0;
                width: 100px;
                border-bottom: 2px dashed #000;
                right: -120px;
                bottom: 48px;
            &::before
                content: '';
                display: block;
                position: absolute;
                height: 0;
                width: 0;
                right: -128px;
                bottom: 44px;
                border-left: 5px solid #000;
                border-top: 5px solid rgba(0,0,0,0);
                border-right: 5px solid rgba(0,0,0,0);
                border-bottom: 5px solid rgba(0,0,0,0);
            > div.item-content
                text-align: center;
                p
                    font-size: 12px;
                    line-height: 14px;
                    margin-bottom: 0;
                    &.title
                        font-size: 14px;
                        white-space: nowrap;
                        display: block;
                        position: relative;
                        width: 160px;
                        left: -29%;
.jd
    h2
        + img
            display: inline;
            margin-left: 85px;
            margin-top: 60px;
            vertical-align: top;
    p.sroki
        background-color: yellowBG;
    .d-item
        > div
            background-color: yellowBG;
.avia
    h2
        + img
            display: inline;
            margin-left: 75px;
            margin-top: 35px;
            vertical-align: top;
    p.sroki
        background-color: blueBG;
    .d-item
        > div
            background-color: blueBG;
.move-img
    position: relative;
.container-img
    left: -17px;
    top: -5px;
.f-paravoz-img
    left: -5px;
    top: -5px;
.ycik-img
    left: -18px;
    top: -5px;
.cremle-img
    left: -7px;
    top: -8px;
.f-avia-img
    left: -33px;
    top: -5px;
