footer
    height: 160px;
    border-top: 5px solid orangeBG;
    background-color: dark;
    overflow: hidden;
    position: relative;
    z-index: 99;
    .col-sm-3
        position: relative;
        padding-top: 25px;
        height: 100px;
        i
            height: 25px;
            width: 25px;
            border-radius: 50%;
            border: 2px solid orangeBG;
            display: inline-block;
            position: absolute;
            top: 25px;
            left: 15px;
        .title
            margin: 0;
            line-height: 14px;
            font-size: 14px !important;
            color: greyC;
            font-weight: 300;
        p
            padding-left: 45px;
            padding-top: 5px;
            margin: 0;
            font-size: 14px;
            span
                font-weight: 700;
            a
                color: blueSL;
                text-decoration: underline;
        &:nth-child(1)
            p
                font-size: 14px;
        &:nth-child(2)
            p
                font-size: 18px;
        &:nth-child(3)
            p
                text-align: right;
                padding-right: 18%;
                font-size: 16px;
.copyright
    color: greyC;
    font-size: 13px;
    a
        color: yellowBG;
        text-decoration: underline;
.itb
    text-align: right;
