.wrp-header-page
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    height: 650px;
    > img
        position: absolute;
        top: 0;
    h1
        font-size: 60px;
        line-height: 80px;
        margin-bottom: 30px;
        + p
            width: 450px;
            text-align: center;
            margin: 0 auto;
            line-height: 22px;
            max-height: 220px;
            overflow: hidden;
.page
    color: dark;
    padding: 40px 0 50px;
    margin-bottom: 100px;
    position: relative;
    article
        padding-right: 25%;
        color: dark;
        font-size: 15px;
        h3
            font-weight: 700;
        img
            max-width: 1170px;
            height: auto;
            &.art
                position: absolute;
                right: 0;
                max-width: 250px;
                height: auto;
    figure
        height: 270px;
        width: 270px;
        display: inline-block;
        border-radius: 3px;
        text-align: center;
        border: 1px solid greyC;
        > p
            height: 270px;
            display: inline-block;
            > img
                display: inline-block;
                width: auto;
                vertical-align: middle;
        figcaption
            height: 75px;
            display: block;
            overflow: hidden;
            p
                font-weight: 700;
                margin-bottom: 0;
                &:nth-child(1)
                    line-height: 22px;
                    font-size: 20px;
                    margin-bottom: 10px;
                &:nth-child(2)
                    line-height: 20px;
                    font-size: 14px;
        + div
            font-size: 13px;
            text-align: center;
            strong
                display: block;
