.slider
    height: 485px;
    position: relative;
    overflow: hidden;
    .slick-list
        height: 100%;
    .slick-track
        height: 100%;
    .slick-slide
        padding: 0 7%;
    .slick-content
        width: 45%;
        display: inline-block;
        padding-top: 50px;
        vertical-align: top;
        z-index: 99;
        position: relative;
        p
            max-height: 202px;
    .slick-img
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 50%;
        > img
            display: inline-block;
            float: right;
            max-height: 450px;
            width: auto;
.slick-arrow
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #fff;
    position: absolute;
    top: 37%;
    z-index: 99;
    color: rgba(0, 0, 0, 0);
    background-image: url('../img/sprite.png');
    &.slick-prev
        left: 30px;
        background-position: -313px -385px;
    &.slick-next
        background-position: -264px -383px;
        right: 30px;
    .slick-slide
        padding: 0 8%;
        top: 0;
.absolute
    position: absolute;
#title-1
    top: 100px;
    opacity: 0;
#text-1
    top: 100px;
    opacity: 0;
#link-1
    top: 100px;
    opacity: 0;
#sudno
    top: 350px;
    right: 0;
    opacity: 0;
#title-2
    top: 100px;
    opacity: 0;
#text-2
    top: 100px;
    opacity: 0;
#link-2
    top: 100px;
    opacity: 0;
#air
    top: 50px;
    left: -650px;
    opacity: 0;
#cloud
    right: -1350px;
    top: 0px;
    position: absolute;
#auto
    top: 223px;
    left: 100px;
    opacity: 0;
#gruz
    top: 223px;
    left: -700px;
    opacity: 0;
#guarantee
    top: 50px;
    left: 100px;
    opacity: 0;
    transform: scale(0.9);
    transition: rotate(0);
    transform-origin: 0 0;
