.slider
    height: 485px;
    position: relative;
.slick-slide
    .slick-content
        width: 45%;
        display: inline-block;
        padding-top: 50px;
        vertical-align: top;
        z-index: 99;
        position: relative;
        p
            max-height: 202px;
            overflow: hidden;
            &.title
                max-height: 155px;
                overflow: hidden;
    .slick-img
        position: relative;
        z-index: 1;
        display: inline-block;
        width: 50%;
        > img
            display: inline-block;
            float: right;
            max-height: 450px;
            width: auto;
.slick-arrow
    height: 50px;
    width: 50px;
    background-color: transparent;
    border-radius: 4px;
    border: 2px solid #fff;
    position: absolute;
    top: 37%;
    z-index: 99;
    color: rgba(0, 0, 0, 0);
    background-image: url('../img/sprite.png');
    &.slick-prev
        left: -70px;
        background-position: -313px -385px;
    &.slick-next
        background-position: -264px -383px;
        right: -70px;
.slider
    *
        position: relative;
    .slick-slide
        padding: 0 8%;
#title-1
    top: 100px;
    opacity: 0;
#text-1
    top: 100px;
    opacity: 0;
#link-1
    top: 100px;
    opacity: 0;
#sudno
    top: 350px;
    opacity: 0;
#title-2
    top: 100px;
    opacity: 0;
#text-2
    top: 100px;
    opacity: 0;
#link-2
    top: 100px;
    opacity: 0;
#air
    top: 50px;
    left: -650px;
    opacity: 0;
#cloud
    right: -950px;
    top: 0px;
    position: absolute;
