@media (max-width: 1350px)
    html, body
        overflow-x: hidden;
    .container
        width: 1100px;
    .slick-arrow
        &.slick-prev
            left: -35px;
        &.slick-next
            right: -35px;
    .slick-slide
        .slick-content
            left: 55px;
    .tools
        > a
            margin-right: 0;
    .avia, .jd
        .d-item
            > div
                margin-right: 130px;
    .wrp-reviews
        .slick-reviews
            .slick-arrow.slick-next
                right: 45%;
    footer
        .col-sm-3:nth-child(3)
            p
                padding-right: 0;
@media (max-width: 1300px)
    .slick-arrow
        &.slick-prev
            left: 15px;
        &.slick-next
            right: 15px;
    .wrp-reviews
        .slick-reviews
            .slick-arrow
                top: 95%;
@media (max-width: 1100px)
    .container
        width: 960px;
    .avia, .jd
        .d-item
            > div
                margin-right: 100px;
                &::after
                    width: 75px;
                    right: -85px;
                &::before
                    right: -95px;
    .btn
        padding: 7px 20px;
        &.btn-custom
            padding: 7px 50px;
    .btn-default-3
        &::before
            width: calc(100% - 40px);
    .reviews
        .col-sm-3
            width: 35%;
        .col-sm-7
            width: 48.33333333%
    footer
        .col-sm-3:nth-child(3)
            p
                font-size: 14px;
    .wrp-reviews
        .review
            .text
                overflow-y: auto;
@media (max-width: 996px)
    .container
        width: 900px;
    .btn
        &.btn-custom
            padding: 7px 42px;
    .services
        .col-md-8
            padding-left: 0;
    .avia, .jd
        .d-item
            > div
                margin-right: 80px;
                &::after
                    width: 55px;
                    right: -65px;
                &::before
                    right: -75px;
